<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body class="container-fluid">

	<center><h1>Angular Dog App</h1></center>
	
	

	<ui-view>
	
	</ui-view>
	
	<script src="angular/angular.min.js"></script>
	
	<script type="text/javascript" src="/angular-ui-router/release/angular-ui-router.js"></script>
	
	<script src="/javascript/app.js"></script>
	<script src="javascript/factories/profileFactory.js"></script>
	<script src="javascript/factories/homeFactory.js"></script>
	<script src="/javascript/services/homeService.js"></script>

	<script src="javascript/controllers/homeController.js"></script>

	<script src="javascript/controllers/profileController.js"></script>
	<script src="javascript/controllers/createDogController.js"></script>
	<script src="javascript/controllers/EditDogController.js"></script>

</body>
</html>